<section class="about">
    <div class="wrapper">
        <h3>Sobre Mim</h3>
        <h4>Eu sou o Guilherme, Desenvolvedor Front-End</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, accusantium. Fugiat, neque! Modi praesentium libero error blanditiis qui reiciendis cumque hic unde soluta cum vitae voluptatibus, possimus assumenda, ab quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, accusantium. Fugiat, neque! Modi praesentium libero error blanditiis qui reiciendis cumque hic unde soluta cum vitae voluptatibus, possimus assumenda, ab quis!</p>

        <div class="skills-block">
            <h3>Eu tenho ótimas habilidades</h3>
            {{component-skill name='html/css' progress='80%'}}
            {{component-skill name='javascript' progress='65%'}}
            {{component-skill name='jquery' progress='55%'}}
            {{component-skill name='ember.js' progress='60%'}}
            {{component-skill name='react' progress='40%'}}
            {{component-skill name='photoshop/illustrator' progress='40%'}}
            {{component-skill name='pacote office' progress='90%'}}
            {{component-skill name='inglês' progress='65%'}}
        </div>
    </div>
</section>