<section class="timeline">
    <div class="wrapper">
        <h3>Os lugares por onde passei</h3>
        <ul>
            {{timeline-place time='2010 - 2012' place='ETEC Parque Santo Antonio' role='Ensino Médio'}}
            {{timeline-place time='2013 - 2017' place='Universidade Paulista' role='Ensino Superior, Ciência da Computação'}}
            {{timeline-place time='2014 - 2016' place='Fundação para o Desenvolvimento da Educação' role='Estágio, Suporte T.I'}}
            {{timeline-place time='2018 - atual' place='NFE.io' role='Desenvolvedor Front-End Jr.'}}
            {{timeline-place time='2018 - 2018' place='Senai' role='Curso profissionalizante, Desenvolvimento Front-End'}}
        </ul>
    </div>
</section>