<section class="timeline">
    <div class="wrapper">
        <h3>Os lugares por onde passei</h3>
        <ul>
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
            {{timeline-place time='2010 - 2012' place='jasjnasjd asdasda' role='unvfdvknd'}}
        </ul>
    </div>
</section>